.frame {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.arrow {
    font-size: 30px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

.arrow:hover {
    color: lime;
}

.slide {
    width: 400px;
    height: 400px;
}

#one {
    display: block;
}

#two {
    display: none;
}

#three {
    display: none;
}

.sliderOptions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin: 10px;
}

.circles {
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 15px;
}

.circles:hover {
    background-color: lime;
}